<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>main_avatar_default.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,356},{89,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,89}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>main_bottom_banner.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{863,259}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{863,259}}</string>
                <key>sourceSize</key>
                <string>{877,267}</string>
            </dict>
            <key>main_buy_coins.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,890},{202,50}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{202,50}}</string>
                <key>sourceSize</key>
                <string>{204,52}</string>
            </dict>
            <key>main_exp_progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,983},{223,30}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{223,30}}</string>
                <key>sourceSize</key>
                <string>{227,40}</string>
            </dict>
            <key>main_facebook.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,2},{352,50}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{352,50}}</string>
                <key>sourceSize</key>
                <string>{354,52}</string>
            </dict>
            <key>main_free_coins.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,829},{57,38}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{57,38}}</string>
                <key>sourceSize</key>
                <string>{59,40}</string>
            </dict>
            <key>main_friend_avatar_default.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,447},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{80,80}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>main_friend_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,542},{98,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{98,151}}</string>
                <key>sourceSize</key>
                <string>{102,155}</string>
            </dict>
            <key>main_gift.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,832},{55,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{55,38}}</string>
                <key>sourceSize</key>
                <string>{59,40}</string>
            </dict>
            <key>main_gift_notice.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1005},{17,17}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,17}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>main_hide.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,695},{67,40}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{67,40}}</string>
                <key>sourceSize</key>
                <string>{69,42}</string>
            </dict>
            <key>main_invite_friends.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,867},{100,153}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{100,153}}</string>
                <key>sourceSize</key>
                <string>{112,165}</string>
            </dict>
            <key>main_leader_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,867},{100,155}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{100,155}}</string>
                <key>sourceSize</key>
                <string>{102,157}</string>
            </dict>
            <key>main_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,447},{34,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{34,77}}</string>
                <key>sourceSize</key>
                <string>{36,79}</string>
            </dict>
            <key>main_left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,737},{34,76}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{34,76}}</string>
                <key>sourceSize</key>
                <string>{36,78}</string>
            </dict>
            <key>main_level.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,773},{61,54}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{61,54}}</string>
                <key>sourceSize</key>
                <string>{65,60}</string>
            </dict>
            <key>main_right_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,969},{34,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{34,77}}</string>
                <key>sourceSize</key>
                <string>{36,79}</string>
            </dict>
            <key>main_right_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,695},{34,76}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{34,76}}</string>
                <key>sourceSize</key>
                <string>{36,78}</string>
            </dict>
            <key>main_sb_collect.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,942},{211,39}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{211,39}}</string>
                <key>sourceSize</key>
                <string>{213,41}</string>
            </dict>
            <key>main_sb_progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,356},{184,8}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{184,8}}</string>
                <key>sourceSize</key>
                <string>{190,14}</string>
            </dict>
            <key>main_setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,773},{57,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{57,38}}</string>
                <key>sourceSize</key>
                <string>{59,40}</string>
            </dict>
            <key>main_show.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,969},{67,40}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{67,40}}</string>
                <key>sourceSize</key>
                <string>{69,42}</string>
            </dict>
            <key>main_top_banner.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,2},{886,119}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{886,119}}</string>
                <key>sourceSize</key>
                <string>{894,123}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall_ui.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:96c24bb708934930b8fb863db0c17664:1/1$</string>
            <key>textureFileName</key>
            <string>hall_ui.png</string>
        </dict>
    </dict>
</plist>
