<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mainGame_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1024,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,768}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mainGame_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,1702},{28,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{28,29}}</string>
                <key>sourceSize</key>
                <string>{32,33}</string>
            </dict>
            <key>mainGame_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,1521},{137,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{137,95}}</string>
                <key>sourceSize</key>
                <string>{141,97}</string>
            </dict>
            <key>mainGame_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,1554},{135,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{135,96}}</string>
                <key>sourceSize</key>
                <string>{137,98}</string>
            </dict>
            <key>mainGame_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1671},{229,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{229,82}}</string>
                <key>sourceSize</key>
                <string>{235,84}</string>
            </dict>
            <key>mainGame_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,1296},{85,67}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{85,67}}</string>
                <key>sourceSize</key>
                <string>{87,69}</string>
            </dict>
            <key>mainGame_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1902},{85,67}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{85,67}}</string>
                <key>sourceSize</key>
                <string>{87,69}</string>
            </dict>
            <key>mainGame_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1028},{590,491}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{590,491}}</string>
                <key>sourceSize</key>
                <string>{606,519}</string>
            </dict>
            <key>mainGame_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,1028},{266,130}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{266,130}}</string>
                <key>sourceSize</key>
                <string>{268,132}</string>
            </dict>
            <key>mainGame_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,1365},{55,59}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,59}}</string>
                <key>sourceSize</key>
                <string>{55,61}</string>
            </dict>
            <key>mainGame_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,1240},{64,44}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{64,44}}</string>
                <key>sourceSize</key>
                <string>{68,46}</string>
            </dict>
            <key>mainGame_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,1660},{47,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,46}}</string>
                <key>sourceSize</key>
                <string>{47,46}</string>
            </dict>
            <key>mainGame_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,1521},{233,148}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{233,148}}</string>
                <key>sourceSize</key>
                <string>{235,154}</string>
            </dict>
            <key>mainGame_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,2},{1024,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,119}}</string>
                <key>sourceSize</key>
                <string>{1024,119}</string>
            </dict>
            <key>mainGame_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,1194},{64,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{64,44}}</string>
                <key>sourceSize</key>
                <string>{68,46}</string>
            </dict>
            <key>mainGame_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,1671},{234,41}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{234,41}}</string>
                <key>sourceSize</key>
                <string>{242,47}</string>
            </dict>
            <key>mainGame_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,1521},{223,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,1},{223,74}}</string>
                <key>sourceSize</key>
                <string>{237,78}</string>
            </dict>
            <key>mainGame_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,1671},{243,42}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{243,42}}</string>
                <key>sourceSize</key>
                <string>{247,48}</string>
            </dict>
            <key>mainGame_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,1521},{179,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,32}}</string>
                <key>sourceSize</key>
                <string>{179,34}</string>
            </dict>
            <key>mainGame_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,1671},{182,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{182,35}}</string>
                <key>sourceSize</key>
                <string>{182,37}</string>
            </dict>
            <key>mainGame_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,1422},{59,54}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{59,54}}</string>
                <key>sourceSize</key>
                <string>{61,56}</string>
            </dict>
            <key>mainGame_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,1148},{64,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{64,44}}</string>
                <key>sourceSize</key>
                <string>{68,46}</string>
            </dict>
            <key>mainGame_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,2},{1024,114}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{1024,114}}</string>
                <key>sourceSize</key>
                <string>{1024,116}</string>
            </dict>
            <key>mainGame_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1521},{233,148}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{233,148}}</string>
                <key>sourceSize</key>
                <string>{235,154}</string>
            </dict>
            <key>mainGame_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,1106},{40,71}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{40,71}}</string>
                <key>sourceSize</key>
                <string>{42,75}</string>
            </dict>
            <key>mainGame_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,1902},{1,61}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{1,61}}</string>
                <key>sourceSize</key>
                <string>{1,75}</string>
            </dict>
            <key>mainGame_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1750},{16,61}}</string>
                <key>offset</key>
                <string>{13,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,3},{16,61}}</string>
                <key>sourceSize</key>
                <string>{42,75}</string>
            </dict>
            <key>mainGame_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1671},{77,23}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{77,23}}</string>
                <key>sourceSize</key>
                <string>{81,27}</string>
            </dict>
            <key>mainGame_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,1028},{76,77}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,7},{76,77}}</string>
                <key>sourceSize</key>
                <string>{90,93}</string>
            </dict>
            <key>mainGame_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,1478},{56,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{56,58}}</string>
                <key>sourceSize</key>
                <string>{68,64}</string>
            </dict>
            <key>mainGame_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,1691},{41,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{41,44}}</string>
                <key>sourceSize</key>
                <string>{47,50}</string>
            </dict>
            <key>mainGame_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,1660},{41,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{41,44}}</string>
                <key>sourceSize</key>
                <string>{47,50}</string>
            </dict>
            <key>mainGame_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,1296},{256,81}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{256,81}}</string>
                <key>sourceSize</key>
                <string>{260,85}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mainUi.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cd9f7220d2d75d49d0757e98bbbc4d2c:1/1$</string>
            <key>textureFileName</key>
            <string>mainUi.png</string>
        </dict>
    </dict>
</plist>
