<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>avatar_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,835},{125,138}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,138}}</string>
                <key>sourceSize</key>
                <string>{127,138}</string>
            </dict>
            <key>avatar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{671,678}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,34},{671,678}}</string>
                <key>sourceSize</key>
                <string>{717,738}</string>
            </dict>
            <key>avatar_comingsoon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,835},{125,138}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,138}}</string>
                <key>sourceSize</key>
                <string>{127,138}</string>
            </dict>
            <key>avatar_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,682},{115,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,127}}</string>
                <key>sourceSize</key>
                <string>{115,127}</string>
            </dict>
            <key>avatar_ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,975},{130,43}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{130,43}}</string>
                <key>sourceSize</key>
                <string>{132,51}</string>
            </dict>
            <key>avatar_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,682},{139,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{139,151}}</string>
                <key>sourceSize</key>
                <string>{147,153}</string>
            </dict>
            <key>common_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,811},{60,61}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{60,61}}</string>
                <key>sourceSize</key>
                <string>{64,67}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>avatar.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8bd0abd003414c9aec45764f12ee4db0:1/1$</string>
            <key>textureFileName</key>
            <string>avatar.png</string>
        </dict>
    </dict>
</plist>
