<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>daocao_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,254},{122,278}}</string>
                <key>offset</key>
                <string>{5,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,22},{122,278}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>daocao_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,254},{122,278}}</string>
                <key>offset</key>
                <string>{5,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,22},{122,278}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>daocao_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,254},{122,278}}</string>
                <key>offset</key>
                <string>{5,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,22},{122,278}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>daocao_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,254},{122,278}}</string>
                <key>offset</key>
                <string>{5,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,22},{122,278}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>daocao_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,254},{122,278}}</string>
                <key>offset</key>
                <string>{5,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,22},{122,278}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>daocao_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,254},{122,278}}</string>
                <key>offset</key>
                <string>{5,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,22},{122,278}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>daocao_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,490},{126,272}}</string>
                <key>offset</key>
                <string>{3,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,28},{126,272}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>daocao_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,536},{132,266}}</string>
                <key>offset</key>
                <string>{3,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,34},{132,266}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>daocao_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,274},{136,260}}</string>
                <key>offset</key>
                <string>{3,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,40},{136,260}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>daocao_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,2},{142,270}}</string>
                <key>offset</key>
                <string>{-4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{142,270}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>daocao_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,230},{130,280}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,20},{130,280}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>daocao_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,290}}</string>
                <key>offset</key>
                <string>{11,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,10},{110,290}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>daocao_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,2},{110,286}}</string>
                <key>offset</key>
                <string>{11,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,14},{110,286}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>daocao_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,118},{110,282}}</string>
                <key>offset</key>
                <string>{11,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,18},{110,282}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>daocao_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{110,278}}</string>
                <key>offset</key>
                <string>{11,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,22},{110,278}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>daocao_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,590},{110,274}}</string>
                <key>offset</key>
                <string>{11,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,26},{110,274}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>daocao_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,816},{112,272}}</string>
                <key>offset</key>
                <string>{11,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,28},{112,272}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>daocao_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,930},{114,270}}</string>
                <key>offset</key>
                <string>{12,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,30},{114,270}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>daocao_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,710},{112,272}}</string>
                <key>offset</key>
                <string>{11,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,28},{112,272}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>daocao_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,484},{110,274}}</string>
                <key>offset</key>
                <string>{11,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,26},{110,274}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>daocao_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{110,278}}</string>
                <key>offset</key>
                <string>{11,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,22},{110,278}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>daocao_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,378},{110,274}}</string>
                <key>offset</key>
                <string>{11,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,26},{110,274}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>daocao_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,618},{112,272}}</string>
                <key>offset</key>
                <string>{11,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,28},{112,272}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>daocao_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,824},{114,270}}</string>
                <key>offset</key>
                <string>{12,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,30},{114,270}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>daocao_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,702},{112,272}}</string>
                <key>offset</key>
                <string>{11,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,28},{112,272}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>daocao_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{110,274}}</string>
                <key>offset</key>
                <string>{11,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,26},{110,274}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>daocao_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{110,278}}</string>
                <key>offset</key>
                <string>{11,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,22},{110,278}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>daocao_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{110,278}}</string>
                <key>offset</key>
                <string>{11,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,22},{110,278}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>daocao_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{110,278}}</string>
                <key>offset</key>
                <string>{11,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,22},{110,278}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>daocao_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{110,278}}</string>
                <key>offset</key>
                <string>{11,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,22},{110,278}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>daocao_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{110,278}}</string>
                <key>offset</key>
                <string>{11,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,22},{110,278}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>daocao_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{110,278}}</string>
                <key>offset</key>
                <string>{11,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,22},{110,278}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>daocao_0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{110,278}}</string>
                <key>offset</key>
                <string>{11,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,22},{110,278}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>daocao_0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{110,278}}</string>
                <key>offset</key>
                <string>{11,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,22},{110,278}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>daocao_0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{110,278}}</string>
                <key>offset</key>
                <string>{11,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,22},{110,278}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>daocao_0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{110,278}}</string>
                <key>offset</key>
                <string>{11,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,22},{110,278}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>daocao_0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{110,278}}</string>
                <key>offset</key>
                <string>{11,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,22},{110,278}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>daocao_0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{110,278}}</string>
                <key>offset</key>
                <string>{11,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,22},{110,278}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>daocao_0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{110,278}}</string>
                <key>offset</key>
                <string>{11,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,22},{110,278}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>daocao_0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{110,278}}</string>
                <key>offset</key>
                <string>{11,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,22},{110,278}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>daocao_0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{110,278}}</string>
                <key>offset</key>
                <string>{11,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,22},{110,278}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>daocao_0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,596},{112,272}}</string>
                <key>offset</key>
                <string>{11,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,28},{112,272}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>daocao_0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,850},{116,266}}</string>
                <key>offset</key>
                <string>{13,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,34},{116,266}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>daocao_0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,804},{118,262}}</string>
                <key>offset</key>
                <string>{15,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,38},{118,262}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>daocao_0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,732},{116,270}}</string>
                <key>offset</key>
                <string>{13,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,30},{116,270}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>daocao_0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{112,280}}</string>
                <key>offset</key>
                <string>{11,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,20},{112,280}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>daocao_0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{114,288}}</string>
                <key>offset</key>
                <string>{9,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,12},{114,288}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>daocao_0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{136,286}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,14},{136,286}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>daocao_0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,114},{138,282}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,18},{138,282}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
            <key>daocao_0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,362},{120,278}}</string>
                <key>offset</key>
                <string>{6,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,22},{120,278}}</string>
                <key>sourceSize</key>
                <string>{150,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>DCNom.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d5d997dc99e19eeb7735f44a045b1eb4:1/1$</string>
            <key>textureFileName</key>
            <string>DCNom.png</string>
        </dict>
    </dict>
</plist>
