<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dazhuan_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1500},{212,212}}</string>
                <key>offset</key>
                <string>{-6,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,49},{212,212}}</string>
                <key>sourceSize</key>
                <string>{370,350}</string>
            </dict>
            <key>dazhuan_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1286},{212,212}}</string>
                <key>offset</key>
                <string>{-7,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,49},{212,212}}</string>
                <key>sourceSize</key>
                <string>{370,350}</string>
            </dict>
            <key>dazhuan_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1072},{212,212}}</string>
                <key>offset</key>
                <string>{-7,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,49},{212,212}}</string>
                <key>sourceSize</key>
                <string>{370,350}</string>
            </dict>
            <key>dazhuan_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,858},{212,212}}</string>
                <key>offset</key>
                <string>{-7,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,49},{212,212}}</string>
                <key>sourceSize</key>
                <string>{370,350}</string>
            </dict>
            <key>dazhuan_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,858},{212,212}}</string>
                <key>offset</key>
                <string>{-7,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,49},{212,212}}</string>
                <key>sourceSize</key>
                <string>{370,350}</string>
            </dict>
            <key>dazhuan_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,858},{212,212}}</string>
                <key>offset</key>
                <string>{-6,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,49},{212,212}}</string>
                <key>sourceSize</key>
                <string>{370,350}</string>
            </dict>
            <key>dazhuan_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,858},{212,212}}</string>
                <key>offset</key>
                <string>{-6,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,49},{212,212}}</string>
                <key>sourceSize</key>
                <string>{370,350}</string>
            </dict>
            <key>dazhuan_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,644},{212,212}}</string>
                <key>offset</key>
                <string>{-6,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,49},{212,212}}</string>
                <key>sourceSize</key>
                <string>{370,350}</string>
            </dict>
            <key>dazhuan_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,644},{212,212}}</string>
                <key>offset</key>
                <string>{-7,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,48},{212,212}}</string>
                <key>sourceSize</key>
                <string>{370,350}</string>
            </dict>
            <key>dazhuan_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,644},{212,212}}</string>
                <key>offset</key>
                <string>{-6,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,49},{212,212}}</string>
                <key>sourceSize</key>
                <string>{370,350}</string>
            </dict>
            <key>dazhuan_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1714},{212,210}}</string>
                <key>offset</key>
                <string>{-7,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,50},{212,210}}</string>
                <key>sourceSize</key>
                <string>{370,350}</string>
            </dict>
            <key>dazhuan_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{212,212}}</string>
                <key>offset</key>
                <string>{-7,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,49},{212,212}}</string>
                <key>sourceSize</key>
                <string>{370,350}</string>
            </dict>
            <key>dazhuan_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,430},{212,212}}</string>
                <key>offset</key>
                <string>{-7,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,49},{212,212}}</string>
                <key>sourceSize</key>
                <string>{370,350}</string>
            </dict>
            <key>dazhuan_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,430},{212,212}}</string>
                <key>offset</key>
                <string>{-6,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,49},{212,212}}</string>
                <key>sourceSize</key>
                <string>{370,350}</string>
            </dict>
            <key>dazhuan_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,430},{212,212}}</string>
                <key>offset</key>
                <string>{-6,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,49},{212,212}}</string>
                <key>sourceSize</key>
                <string>{370,350}</string>
            </dict>
            <key>dazhuan_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,430},{212,212}}</string>
                <key>offset</key>
                <string>{-6,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,49},{212,212}}</string>
                <key>sourceSize</key>
                <string>{370,350}</string>
            </dict>
            <key>dazhuan_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,216},{212,212}}</string>
                <key>offset</key>
                <string>{-6,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,49},{212,212}}</string>
                <key>sourceSize</key>
                <string>{370,350}</string>
            </dict>
            <key>dazhuan_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,216},{212,212}}</string>
                <key>offset</key>
                <string>{-6,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,49},{212,212}}</string>
                <key>sourceSize</key>
                <string>{370,350}</string>
            </dict>
            <key>dazhuan_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,216},{212,212}}</string>
                <key>offset</key>
                <string>{-7,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,49},{212,212}}</string>
                <key>sourceSize</key>
                <string>{370,350}</string>
            </dict>
            <key>dazhuan_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{212,212}}</string>
                <key>offset</key>
                <string>{-6,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,49},{212,212}}</string>
                <key>sourceSize</key>
                <string>{370,350}</string>
            </dict>
            <key>dazhuan_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{212,212}}</string>
                <key>offset</key>
                <string>{-6,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,49},{212,212}}</string>
                <key>sourceSize</key>
                <string>{370,350}</string>
            </dict>
            <key>dazhuan_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,2},{212,212}}</string>
                <key>offset</key>
                <string>{-7,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,49},{212,212}}</string>
                <key>sourceSize</key>
                <string>{370,350}</string>
            </dict>
            <key>dazhuan_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{212,212}}</string>
                <key>offset</key>
                <string>{-6,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,49},{212,212}}</string>
                <key>sourceSize</key>
                <string>{370,350}</string>
            </dict>
            <key>dazhuan_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{212,212}}</string>
                <key>offset</key>
                <string>{-6,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,49},{212,212}}</string>
                <key>sourceSize</key>
                <string>{370,350}</string>
            </dict>
            <key>dazhuan_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1500},{212,212}}</string>
                <key>offset</key>
                <string>{-6,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,49},{212,212}}</string>
                <key>sourceSize</key>
                <string>{370,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ddjAni.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:563de07052cdb41611c06f36df5f42dc:1/1$</string>
            <key>textureFileName</key>
            <string>ddjAni.png</string>
        </dict>
    </dict>
</plist>
