<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fa_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,746},{104,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,33},{104,92}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>fa_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,844},{108,96}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,31},{108,96}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>fa_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,742},{112,100}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,29},{112,100}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>fa_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,518},{116,104}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,27},{116,104}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>fa_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,636},{120,108}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,25},{120,108}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>fa_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,526},{124,112}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,23},{124,112}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>fa_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,518},{128,116}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,21},{128,116}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>fa_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{132,120}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,19},{132,120}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>fa_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{136,124}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,17},{136,124}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>fa_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,270},{140,128}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,15},{140,128}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>fa_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{144,132}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,13},{144,132}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>fa_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{148,136}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,11},{148,136}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>fa_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{152,140}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{152,140}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>fa_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{148,136}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,11},{148,136}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>fa_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,140},{144,132}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,13},{144,132}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>fa_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,140},{140,128}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,15},{140,128}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>fa_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,274},{136,124}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,17},{136,124}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>fa_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,400},{132,120}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,19},{132,120}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>fa_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,400},{128,116}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,21},{128,116}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>fa_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,522},{124,112}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,23},{124,112}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>fa_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,636},{120,108}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,25},{120,108}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>fa_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,400},{116,104}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,27},{116,104}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>fa_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,640},{112,100}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,29},{112,100}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>fa_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,844},{108,96}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,31},{108,96}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>fa_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,746},{104,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,33},{104,92}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>djfgAni.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:982ffe9db67903508c2ffe3d40d6c46f:1/1$</string>
            <key>textureFileName</key>
            <string>djfgAni.png</string>
        </dict>
    </dict>
</plist>
