<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xin_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,451},{56,49}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,8},{56,49}}</string>
                <key>sourceSize</key>
                <string>{80,75}</string>
            </dict>
            <key>xin_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,319},{60,51}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,6},{60,51}}</string>
                <key>sourceSize</key>
                <string>{80,75}</string>
            </dict>
            <key>xin_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,319},{62,53}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{62,53}}</string>
                <key>sourceSize</key>
                <string>{80,75}</string>
            </dict>
            <key>xin_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,258},{66,53}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{66,53}}</string>
                <key>sourceSize</key>
                <string>{80,75}</string>
            </dict>
            <key>xin_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,195},{68,55}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{68,55}}</string>
                <key>sourceSize</key>
                <string>{80,75}</string>
            </dict>
            <key>xin_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,132},{72,57}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{72,57}}</string>
                <key>sourceSize</key>
                <string>{80,75}</string>
            </dict>
            <key>xin_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,67},{74,59}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{74,59}}</string>
                <key>sourceSize</key>
                <string>{80,75}</string>
            </dict>
            <key>xin_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,67},{78,61}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{78,61}}</string>
                <key>sourceSize</key>
                <string>{80,75}</string>
            </dict>
            <key>xin_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,63}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{80,63}}</string>
                <key>sourceSize</key>
                <string>{80,75}</string>
            </dict>
            <key>xin_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{78,63}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,63}}</string>
                <key>sourceSize</key>
                <string>{80,75}</string>
            </dict>
            <key>xin_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{78,63}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,63}}</string>
                <key>sourceSize</key>
                <string>{80,75}</string>
            </dict>
            <key>xin_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,67},{76,63}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{76,63}}</string>
                <key>sourceSize</key>
                <string>{80,75}</string>
            </dict>
            <key>xin_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{74,65}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{74,65}}</string>
                <key>sourceSize</key>
                <string>{80,75}</string>
            </dict>
            <key>xin_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,128},{72,65}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{72,65}}</string>
                <key>sourceSize</key>
                <string>{80,75}</string>
            </dict>
            <key>xin_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,191},{70,65}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{70,65}}</string>
                <key>sourceSize</key>
                <string>{80,75}</string>
            </dict>
            <key>xin_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,197},{68,65}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{68,65}}</string>
                <key>sourceSize</key>
                <string>{80,75}</string>
            </dict>
            <key>xin_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,252},{66,65}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{66,65}}</string>
                <key>sourceSize</key>
                <string>{80,75}</string>
            </dict>
            <key>xin_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{64,65}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{64,65}}</string>
                <key>sourceSize</key>
                <string>{80,75}</string>
            </dict>
            <key>xin_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,313},{62,65}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{62,65}}</string>
                <key>sourceSize</key>
                <string>{80,75}</string>
            </dict>
            <key>xin_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{60,65}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{60,65}}</string>
                <key>sourceSize</key>
                <string>{80,75}</string>
            </dict>
            <key>xin_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,374},{60,61}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,1},{60,61}}</string>
                <key>sourceSize</key>
                <string>{80,75}</string>
            </dict>
            <key>xin_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,377},{58,59}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,2},{58,59}}</string>
                <key>sourceSize</key>
                <string>{80,75}</string>
            </dict>
            <key>xin_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{58,57}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{58,57}}</string>
                <key>sourceSize</key>
                <string>{80,75}</string>
            </dict>
            <key>xin_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,381},{58,55}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{58,55}}</string>
                <key>sourceSize</key>
                <string>{80,75}</string>
            </dict>
            <key>xin_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,451},{56,51}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,6},{56,51}}</string>
                <key>sourceSize</key>
                <string>{80,75}</string>
            </dict>
            <key>xin_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,451},{56,49}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,8},{56,49}}</string>
                <key>sourceSize</key>
                <string>{80,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HeartNomAni.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e1a7f2853ec9862b1d298c4c6b4d7e9:1/1$</string>
            <key>textureFileName</key>
            <string>HeartNomAni.png</string>
        </dict>
    </dict>
</plist>
