<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cs_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,454},{202,148}}</string>
                <key>offset</key>
                <string>{-3,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,56},{202,148}}</string>
                <key>sourceSize</key>
                <string>{300,220}</string>
            </dict>
            <key>cs_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,306},{202,148}}</string>
                <key>offset</key>
                <string>{-3,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,56},{202,148}}</string>
                <key>sourceSize</key>
                <string>{300,220}</string>
            </dict>
            <key>cs_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{202,148}}</string>
                <key>offset</key>
                <string>{-3,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,56},{202,148}}</string>
                <key>sourceSize</key>
                <string>{300,220}</string>
            </dict>
            <key>cs_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,454},{202,146}}</string>
                <key>offset</key>
                <string>{-3,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,58},{202,146}}</string>
                <key>sourceSize</key>
                <string>{300,220}</string>
            </dict>
            <key>cs_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,306},{202,148}}</string>
                <key>offset</key>
                <string>{-3,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,56},{202,148}}</string>
                <key>sourceSize</key>
                <string>{300,220}</string>
            </dict>
            <key>cs_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,304},{202,148}}</string>
                <key>offset</key>
                <string>{-3,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,56},{202,148}}</string>
                <key>sourceSize</key>
                <string>{300,220}</string>
            </dict>
            <key>cs_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,304},{202,148}}</string>
                <key>offset</key>
                <string>{-3,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,56},{202,148}}</string>
                <key>sourceSize</key>
                <string>{300,220}</string>
            </dict>
            <key>cs_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,156},{202,148}}</string>
                <key>offset</key>
                <string>{-3,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,56},{202,148}}</string>
                <key>sourceSize</key>
                <string>{300,220}</string>
            </dict>
            <key>cs_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{202,148}}</string>
                <key>offset</key>
                <string>{-3,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,56},{202,148}}</string>
                <key>sourceSize</key>
                <string>{300,220}</string>
            </dict>
            <key>cs_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,156},{202,148}}</string>
                <key>offset</key>
                <string>{-3,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,56},{202,148}}</string>
                <key>sourceSize</key>
                <string>{300,220}</string>
            </dict>
            <key>cs_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{202,148}}</string>
                <key>offset</key>
                <string>{-3,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,56},{202,148}}</string>
                <key>sourceSize</key>
                <string>{300,220}</string>
            </dict>
            <key>cs_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,454},{202,148}}</string>
                <key>offset</key>
                <string>{-3,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,56},{202,148}}</string>
                <key>sourceSize</key>
                <string>{300,220}</string>
            </dict>
            <key>cs_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,2},{202,150}}</string>
                <key>offset</key>
                <string>{-3,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,54},{202,150}}</string>
                <key>sourceSize</key>
                <string>{300,220}</string>
            </dict>
            <key>cs_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{202,152}}</string>
                <key>offset</key>
                <string>{-3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,52},{202,152}}</string>
                <key>sourceSize</key>
                <string>{300,220}</string>
            </dict>
            <key>cs_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{202,154}}</string>
                <key>offset</key>
                <string>{-3,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,50},{202,154}}</string>
                <key>sourceSize</key>
                <string>{300,220}</string>
            </dict>
            <key>cs_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{202,152}}</string>
                <key>offset</key>
                <string>{-3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,52},{202,152}}</string>
                <key>sourceSize</key>
                <string>{300,220}</string>
            </dict>
            <key>cs_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,2},{202,150}}</string>
                <key>offset</key>
                <string>{-3,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,54},{202,150}}</string>
                <key>sourceSize</key>
                <string>{300,220}</string>
            </dict>
            <key>cs_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,154},{202,148}}</string>
                <key>offset</key>
                <string>{-3,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,56},{202,148}}</string>
                <key>sourceSize</key>
                <string>{300,220}</string>
            </dict>
            <key>cs_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,154},{202,148}}</string>
                <key>offset</key>
                <string>{-3,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,56},{202,148}}</string>
                <key>sourceSize</key>
                <string>{300,220}</string>
            </dict>
            <key>cs_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,454},{202,148}}</string>
                <key>offset</key>
                <string>{-3,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,56},{202,148}}</string>
                <key>sourceSize</key>
                <string>{300,220}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HMNom.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9dbe88f10db6ea1141d7878f61ff5630:1/1$</string>
            <key>textureFileName</key>
            <string>HMNom.png</string>
        </dict>
    </dict>
</plist>
