<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jiantoubeichi_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,588},{48,52}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,76},{48,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>jiantoubeichi_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,518},{68,76}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,59},{68,76}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>jiantoubeichi_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,518},{88,92}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,52},{88,92}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>jiantoubeichi_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{126,126}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,37},{126,126}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>jiantoubeichi_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{152,152}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,25},{152,152}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>jiantoubeichi_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,350},{168,166}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,18},{168,166}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>jiantoubeichi_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,176},{172,172}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{172,172}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>jiantoubeichi_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,442},{158,160}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,22},{158,160}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>jiantoubeichi_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{168,166}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,20},{168,166}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>jiantoubeichi_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{172,170}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,19},{172,170}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>jiantoubeichi_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{174,172}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,18},{174,172}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>jiantoubeichi_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{176,174}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,16},{176,174}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>jiantoubeichi_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,304},{136,136}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,33},{136,136}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>jiantoubeichi_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,156},{148,146}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,28},{148,146}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>jiantoubeichi_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,156},{1,1}}</string>
                <key>offset</key>
                <string>{-99.5,99.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>JTBeiChiAni.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:83d0369cc7f88e57e99502ab0c337373:1/1$</string>
            <key>textureFileName</key>
            <string>JTBeiChiAni.png</string>
        </dict>
    </dict>
</plist>
