<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jian_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,294},{58,68}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,15},{58,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>jian_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,290},{60,68}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,16},{60,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>jian_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,280},{64,70}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,14},{64,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>jian_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,212},{66,72}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,13},{66,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>jian_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,154},{70,72}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,15},{70,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>jian_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,216},{72,74}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,13},{72,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>jian_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,206},{74,74}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{74,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>jian_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{78,76}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{78,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>jian_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{80,78}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{80,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>jian_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{84,80}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{84,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>jian_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,72},{80,80}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{80,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>jian_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,2},{80,80}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{80,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>jian_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,136},{78,80}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,11},{78,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>jian_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,154},{76,80}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,11},{76,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>jian_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{74,82}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,9},{74,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>jian_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,68},{72,82}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,9},{72,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>jian_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,78},{70,82}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,9},{70,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>jian_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,84},{68,82}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,9},{68,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>jian_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{68,84}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,7},{68,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>jian_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{66,84}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,8},{66,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>jian_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{64,84}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,7},{64,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>jian_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,70},{64,82}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,8},{64,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>jian_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{62,80}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,9},{62,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>jian_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,142},{62,78}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,10},{62,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>jian_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,150},{60,76}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,11},{60,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>jian_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,232},{60,74}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,12},{60,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>jian_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,226},{60,72}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,13},{60,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>jian_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,282},{58,70}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,14},{58,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>jian_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,294},{58,68}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,15},{58,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>JTNomAni.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d69b030ef5e2407a63f68d10dc36eb8d:1/1$</string>
            <key>textureFileName</key>
            <string>JTNomAni.png</string>
        </dict>
    </dict>
</plist>
