<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dc_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,740},{204,144}}</string>
                <key>offset</key>
                <string>{-4,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,60},{204,144}}</string>
                <key>sourceSize</key>
                <string>{300,220}</string>
            </dict>
            <key>dc_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,826},{204,144}}</string>
                <key>offset</key>
                <string>{-4,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,60},{204,144}}</string>
                <key>sourceSize</key>
                <string>{300,220}</string>
            </dict>
            <key>dc_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,738},{204,144}}</string>
                <key>offset</key>
                <string>{-4,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,60},{204,144}}</string>
                <key>sourceSize</key>
                <string>{300,220}</string>
            </dict>
            <key>dc_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,446},{204,146}}</string>
                <key>offset</key>
                <string>{-4,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,58},{204,146}}</string>
                <key>sourceSize</key>
                <string>{300,220}</string>
            </dict>
            <key>dc_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,446},{204,146}}</string>
                <key>offset</key>
                <string>{-4,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,58},{204,146}}</string>
                <key>sourceSize</key>
                <string>{300,220}</string>
            </dict>
            <key>dc_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{204,146}}</string>
                <key>offset</key>
                <string>{-4,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,58},{204,146}}</string>
                <key>sourceSize</key>
                <string>{300,220}</string>
            </dict>
            <key>dc_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,414},{204,146}}</string>
                <key>offset</key>
                <string>{-4,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,58},{204,146}}</string>
                <key>sourceSize</key>
                <string>{300,220}</string>
            </dict>
            <key>dc_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,298},{204,146}}</string>
                <key>offset</key>
                <string>{-4,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,58},{204,146}}</string>
                <key>sourceSize</key>
                <string>{300,220}</string>
            </dict>
            <key>dc_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,298},{204,146}}</string>
                <key>offset</key>
                <string>{-4,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,58},{204,146}}</string>
                <key>sourceSize</key>
                <string>{300,220}</string>
            </dict>
            <key>dc_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,298},{204,146}}</string>
                <key>offset</key>
                <string>{-4,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,58},{204,146}}</string>
                <key>sourceSize</key>
                <string>{300,220}</string>
            </dict>
            <key>dc_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{204,146}}</string>
                <key>offset</key>
                <string>{-4,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,58},{204,146}}</string>
                <key>sourceSize</key>
                <string>{300,220}</string>
            </dict>
            <key>dc_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,594},{204,144}}</string>
                <key>offset</key>
                <string>{-4,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,60},{204,144}}</string>
                <key>sourceSize</key>
                <string>{300,220}</string>
            </dict>
            <key>dc_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,594},{204,144}}</string>
                <key>offset</key>
                <string>{-4,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,60},{204,144}}</string>
                <key>sourceSize</key>
                <string>{300,220}</string>
            </dict>
            <key>dc_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,594},{204,144}}</string>
                <key>offset</key>
                <string>{-4,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,60},{204,144}}</string>
                <key>sourceSize</key>
                <string>{300,220}</string>
            </dict>
            <key>dc_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,208},{204,146}}</string>
                <key>offset</key>
                <string>{-4,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,58},{204,146}}</string>
                <key>sourceSize</key>
                <string>{300,220}</string>
            </dict>
            <key>dc_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,150},{204,146}}</string>
                <key>offset</key>
                <string>{-4,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,58},{204,146}}</string>
                <key>sourceSize</key>
                <string>{300,220}</string>
            </dict>
            <key>dc_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,150},{204,146}}</string>
                <key>offset</key>
                <string>{-4,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,58},{204,146}}</string>
                <key>sourceSize</key>
                <string>{300,220}</string>
            </dict>
            <key>dc_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,150},{204,146}}</string>
                <key>offset</key>
                <string>{-4,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,58},{204,146}}</string>
                <key>sourceSize</key>
                <string>{300,220}</string>
            </dict>
            <key>dc_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{204,146}}</string>
                <key>offset</key>
                <string>{-4,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,58},{204,146}}</string>
                <key>sourceSize</key>
                <string>{300,220}</string>
            </dict>
            <key>dc_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,2},{204,146}}</string>
                <key>offset</key>
                <string>{-4,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,58},{204,146}}</string>
                <key>sourceSize</key>
                <string>{300,220}</string>
            </dict>
            <key>dc_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,2},{204,146}}</string>
                <key>offset</key>
                <string>{-4,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,58},{204,146}}</string>
                <key>sourceSize</key>
                <string>{300,220}</string>
            </dict>
            <key>dc_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{204,146}}</string>
                <key>offset</key>
                <string>{-4,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,58},{204,146}}</string>
                <key>sourceSize</key>
                <string>{300,220}</string>
            </dict>
            <key>dc_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{204,146}}</string>
                <key>offset</key>
                <string>{-4,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,58},{204,146}}</string>
                <key>sourceSize</key>
                <string>{300,220}</string>
            </dict>
            <key>dc_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{204,146}}</string>
                <key>offset</key>
                <string>{-4,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,58},{204,146}}</string>
                <key>sourceSize</key>
                <string>{300,220}</string>
            </dict>
            <key>dc_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,620},{204,144}}</string>
                <key>offset</key>
                <string>{-4,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,60},{204,144}}</string>
                <key>sourceSize</key>
                <string>{300,220}</string>
            </dict>
            <key>dc_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,886},{204,142}}</string>
                <key>offset</key>
                <string>{-4,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,62},{204,142}}</string>
                <key>sourceSize</key>
                <string>{300,220}</string>
            </dict>
            <key>dc_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,884},{204,140}}</string>
                <key>offset</key>
                <string>{-4,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,64},{204,140}}</string>
                <key>sourceSize</key>
                <string>{300,220}</string>
            </dict>
            <key>dc_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,1026},{204,138}}</string>
                <key>offset</key>
                <string>{-4,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,66},{204,138}}</string>
                <key>sourceSize</key>
                <string>{300,220}</string>
            </dict>
            <key>dc_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,884},{204,140}}</string>
                <key>offset</key>
                <string>{-4,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,64},{204,140}}</string>
                <key>sourceSize</key>
                <string>{300,220}</string>
            </dict>
            <key>dc_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,884},{204,142}}</string>
                <key>offset</key>
                <string>{-4,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,62},{204,142}}</string>
                <key>sourceSize</key>
                <string>{300,220}</string>
            </dict>
            <key>dc_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,740},{204,142}}</string>
                <key>offset</key>
                <string>{-4,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,62},{204,142}}</string>
                <key>sourceSize</key>
                <string>{300,220}</string>
            </dict>
            <key>dc_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,740},{204,142}}</string>
                <key>offset</key>
                <string>{-4,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,62},{204,142}}</string>
                <key>sourceSize</key>
                <string>{300,220}</string>
            </dict>
            <key>dc_0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,592},{204,144}}</string>
                <key>offset</key>
                <string>{-4,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,60},{204,144}}</string>
                <key>sourceSize</key>
                <string>{300,220}</string>
            </dict>
            <key>dc_0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,446},{204,144}}</string>
                <key>offset</key>
                <string>{-4,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,60},{204,144}}</string>
                <key>sourceSize</key>
                <string>{300,220}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mhNo.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1b65412d993a2012833c30ff018617d3:1/1$</string>
            <key>textureFileName</key>
            <string>mhNo.png</string>
        </dict>
    </dict>
</plist>
