<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>000001.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,198},{210,194}}</string>
                <key>offset</key>
                <string>{-10,-107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,235},{210,194}}</string>
                <key>sourceSize</key>
                <string>{330,450}</string>
            </dict>
            <key>000002.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,184},{212,194}}</string>
                <key>offset</key>
                <string>{-9,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,215},{212,194}}</string>
                <key>sourceSize</key>
                <string>{330,450}</string>
            </dict>
            <key>000003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,780},{204,192}}</string>
                <key>offset</key>
                <string>{-8,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,193},{204,192}}</string>
                <key>sourceSize</key>
                <string>{330,450}</string>
            </dict>
            <key>000004.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,950},{200,190}}</string>
                <key>offset</key>
                <string>{-8,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,172},{200,190}}</string>
                <key>sourceSize</key>
                <string>{330,450}</string>
            </dict>
            <key>000005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{196,210}}</string>
                <key>offset</key>
                <string>{-6,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,140},{196,210}}</string>
                <key>sourceSize</key>
                <string>{330,450}</string>
            </dict>
            <key>000006.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,558},{194,208}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,120},{194,208}}</string>
                <key>sourceSize</key>
                <string>{330,450}</string>
            </dict>
            <key>000007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{212,196}}</string>
                <key>offset</key>
                <string>{-5,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,104},{212,196}}</string>
                <key>sourceSize</key>
                <string>{330,450}</string>
            </dict>
            <key>000008.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,2},{212,194}}</string>
                <key>offset</key>
                <string>{-4,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,85},{212,194}}</string>
                <key>sourceSize</key>
                <string>{330,450}</string>
            </dict>
            <key>000009.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,966},{182,176}}</string>
                <key>offset</key>
                <string>{-4,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,75},{182,176}}</string>
                <key>sourceSize</key>
                <string>{330,450}</string>
            </dict>
            <key>000010.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,394},{184,174}}</string>
                <key>offset</key>
                <string>{-3,85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,53},{184,174}}</string>
                <key>sourceSize</key>
                <string>{330,450}</string>
            </dict>
            <key>000011.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,764},{190,200}}</string>
                <key>offset</key>
                <string>{-4,107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,18},{190,200}}</string>
                <key>sourceSize</key>
                <string>{330,450}</string>
            </dict>
            <key>000012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1170},{182,192}}</string>
                <key>offset</key>
                <string>{-7,75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,54},{182,192}}</string>
                <key>sourceSize</key>
                <string>{330,450}</string>
            </dict>
            <key>000013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,974},{194,198}}</string>
                <key>offset</key>
                <string>{-3,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,81},{194,198}}</string>
                <key>sourceSize</key>
                <string>{330,450}</string>
            </dict>
            <key>000014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,580},{198,204}}</string>
                <key>offset</key>
                <string>{-5,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,109},{198,204}}</string>
                <key>sourceSize</key>
                <string>{330,450}</string>
            </dict>
            <key>000015.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,366},{212,190}}</string>
                <key>offset</key>
                <string>{-6,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,148},{212,190}}</string>
                <key>sourceSize</key>
                <string>{330,450}</string>
            </dict>
            <key>000016.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,380},{210,186}}</string>
                <key>offset</key>
                <string>{-7,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,182},{210,186}}</string>
                <key>sourceSize</key>
                <string>{330,450}</string>
            </dict>
            <key>000017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{224,180}}</string>
                <key>offset</key>
                <string>{-9,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,219},{224,180}}</string>
                <key>sourceSize</key>
                <string>{330,450}</string>
            </dict>
            <key>000018.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{224,178}}</string>
                <key>offset</key>
                <string>{-10,-115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,251},{224,178}}</string>
                <key>sourceSize</key>
                <string>{330,450}</string>
            </dict>
            <key>000019.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{220,180}}</string>
                <key>offset</key>
                <string>{-10,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,235},{220,180}}</string>
                <key>sourceSize</key>
                <string>{330,450}</string>
            </dict>
            <key>000020.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,182},{216,182}}</string>
                <key>offset</key>
                <string>{-9,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,218},{216,182}}</string>
                <key>sourceSize</key>
                <string>{330,450}</string>
            </dict>
            <key>000021.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,592},{198,200}}</string>
                <key>offset</key>
                <string>{-11,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,194},{198,200}}</string>
                <key>sourceSize</key>
                <string>{330,450}</string>
            </dict>
            <key>000022.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,568},{196,204}}</string>
                <key>offset</key>
                <string>{-10,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,176},{196,204}}</string>
                <key>sourceSize</key>
                <string>{330,450}</string>
            </dict>
            <key>000023.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,754},{204,194}}</string>
                <key>offset</key>
                <string>{-6,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,163},{204,194}}</string>
                <key>sourceSize</key>
                <string>{330,450}</string>
            </dict>
            <key>000024.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,394},{204,196}}</string>
                <key>offset</key>
                <string>{-5,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,146},{204,196}}</string>
                <key>sourceSize</key>
                <string>{330,450}</string>
            </dict>
            <key>000025.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,766},{200,192}}</string>
                <key>offset</key>
                <string>{-7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,135},{200,192}}</string>
                <key>sourceSize</key>
                <string>{330,450}</string>
            </dict>
            <key>000026.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,792},{196,192}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,121},{196,192}}</string>
                <key>sourceSize</key>
                <string>{330,450}</string>
            </dict>
            <key>000027.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,580},{174,182}}</string>
                <key>offset</key>
                <string>{-7,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,153},{174,182}}</string>
                <key>sourceSize</key>
                <string>{330,450}</string>
            </dict>
            <key>000028.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,986},{178,180}}</string>
                <key>offset</key>
                <string>{-7,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,186},{178,180}}</string>
                <key>sourceSize</key>
                <string>{330,450}</string>
            </dict>
            <key>000029.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,1142},{192,194}}</string>
                <key>offset</key>
                <string>{-3,-76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,204},{192,194}}</string>
                <key>sourceSize</key>
                <string>{330,450}</string>
            </dict>
            <key>000030.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,960},{188,196}}</string>
                <key>offset</key>
                <string>{-6,-108}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,235},{188,196}}</string>
                <key>sourceSize</key>
                <string>{330,450}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>saiziAni.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:668dc5a92a16172f212ad2ae3e7073d2:1/1$</string>
            <key>textureFileName</key>
            <string>saiziAni.png</string>
        </dict>
    </dict>
</plist>
