<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wenc_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,446},{51,64}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,16},{51,64}}</string>
                <key>sourceSize</key>
                <string>{85,100}</string>
            </dict>
            <key>wenc_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,2},{53,66}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,15},{53,66}}</string>
                <key>sourceSize</key>
                <string>{85,100}</string>
            </dict>
            <key>wenc_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,152},{55,68}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{55,68}}</string>
                <key>sourceSize</key>
                <string>{85,100}</string>
            </dict>
            <key>wenc_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,302},{57,70}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{57,70}}</string>
                <key>sourceSize</key>
                <string>{85,100}</string>
            </dict>
            <key>wenc_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,230},{59,70}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{59,70}}</string>
                <key>sourceSize</key>
                <string>{85,100}</string>
            </dict>
            <key>wenc_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,78},{61,72}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{61,72}}</string>
                <key>sourceSize</key>
                <string>{85,100}</string>
            </dict>
            <key>wenc_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,156},{65,72}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{65,72}}</string>
                <key>sourceSize</key>
                <string>{85,100}</string>
            </dict>
            <key>wenc_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,80},{65,74}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{65,74}}</string>
                <key>sourceSize</key>
                <string>{85,100}</string>
            </dict>
            <key>wenc_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{69,76}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{69,76}}</string>
                <key>sourceSize</key>
                <string>{85,100}</string>
            </dict>
            <key>wenc_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,82},{71,76}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{71,76}}</string>
                <key>sourceSize</key>
                <string>{85,100}</string>
            </dict>
            <key>wenc_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,334},{73,78}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{73,78}}</string>
                <key>sourceSize</key>
                <string>{85,100}</string>
            </dict>
            <key>wenc_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,414},{71,78}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{71,78}}</string>
                <key>sourceSize</key>
                <string>{85,100}</string>
            </dict>
            <key>wenc_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{71,80}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{71,80}}</string>
                <key>sourceSize</key>
                <string>{85,100}</string>
            </dict>
            <key>wenc_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,170},{69,80}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{69,80}}</string>
                <key>sourceSize</key>
                <string>{85,100}</string>
            </dict>
            <key>wenc_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,254},{69,80}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{69,80}}</string>
                <key>sourceSize</key>
                <string>{85,100}</string>
            </dict>
            <key>wenc_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,420},{67,80}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{67,80}}</string>
                <key>sourceSize</key>
                <string>{85,100}</string>
            </dict>
            <key>wenc_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,336},{65,80}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{65,80}}</string>
                <key>sourceSize</key>
                <string>{85,100}</string>
            </dict>
            <key>wenc_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,420},{65,80}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{65,80}}</string>
                <key>sourceSize</key>
                <string>{85,100}</string>
            </dict>
            <key>wenc_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,252},{63,80}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{63,80}}</string>
                <key>sourceSize</key>
                <string>{85,100}</string>
            </dict>
            <key>wenc_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{61,82}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{61,82}}</string>
                <key>sourceSize</key>
                <string>{85,100}</string>
            </dict>
            <key>wenc_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{61,82}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{61,82}}</string>
                <key>sourceSize</key>
                <string>{85,100}</string>
            </dict>
            <key>wenc_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{59,82}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{59,82}}</string>
                <key>sourceSize</key>
                <string>{85,100}</string>
            </dict>
            <key>wenc_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{57,82}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,7},{57,82}}</string>
                <key>sourceSize</key>
                <string>{85,100}</string>
            </dict>
            <key>wenc_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,418},{57,80}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{57,80}}</string>
                <key>sourceSize</key>
                <string>{85,100}</string>
            </dict>
            <key>wenc_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,2},{55,78}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,9},{55,78}}</string>
                <key>sourceSize</key>
                <string>{85,100}</string>
            </dict>
            <key>wenc_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,160},{55,76}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{55,76}}</string>
                <key>sourceSize</key>
                <string>{85,100}</string>
            </dict>
            <key>wenc_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,2},{55,74}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,11},{55,74}}</string>
                <key>sourceSize</key>
                <string>{85,100}</string>
            </dict>
            <key>wenc_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{53,72}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{53,72}}</string>
                <key>sourceSize</key>
                <string>{85,100}</string>
            </dict>
            <key>wenc_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,374},{51,70}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,13},{51,70}}</string>
                <key>sourceSize</key>
                <string>{85,100}</string>
            </dict>
            <key>wenc_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,76},{51,68}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,14},{51,68}}</string>
                <key>sourceSize</key>
                <string>{85,100}</string>
            </dict>
            <key>wenc_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,222},{51,66}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,15},{51,66}}</string>
                <key>sourceSize</key>
                <string>{85,100}</string>
            </dict>
            <key>wenc_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,446},{51,64}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,16},{51,64}}</string>
                <key>sourceSize</key>
                <string>{85,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>WhatNomAni.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9ca5562812b34e23610d430994b6bfcc:1/1$</string>
            <key>textureFileName</key>
            <string>WhatNomAni.png</string>
        </dict>
    </dict>
</plist>
