<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xiaozhuan_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,206},{102,100}}</string>
                <key>offset</key>
                <string>{-9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,51},{102,100}}</string>
                <key>sourceSize</key>
                <string>{230,210}</string>
            </dict>
            <key>xiaozhuan_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,512},{100,100}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,51},{100,100}}</string>
                <key>sourceSize</key>
                <string>{230,210}</string>
            </dict>
            <key>xiaozhuan_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{102,100}}</string>
                <key>offset</key>
                <string>{-9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,51},{102,100}}</string>
                <key>sourceSize</key>
                <string>{230,210}</string>
            </dict>
            <key>xiaozhuan_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{100,100}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,51},{100,100}}</string>
                <key>sourceSize</key>
                <string>{230,210}</string>
            </dict>
            <key>xiaozhuan_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,410},{100,100}}</string>
                <key>offset</key>
                <string>{-9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,51},{100,100}}</string>
                <key>sourceSize</key>
                <string>{230,210}</string>
            </dict>
            <key>xiaozhuan_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,104},{102,100}}</string>
                <key>offset</key>
                <string>{-9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,51},{102,100}}</string>
                <key>sourceSize</key>
                <string>{230,210}</string>
            </dict>
            <key>xiaozhuan_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,410},{100,100}}</string>
                <key>offset</key>
                <string>{-9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,51},{100,100}}</string>
                <key>sourceSize</key>
                <string>{230,210}</string>
            </dict>
            <key>xiaozhuan_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,410},{100,100}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,51},{100,100}}</string>
                <key>sourceSize</key>
                <string>{230,210}</string>
            </dict>
            <key>xiaozhuan_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,410},{100,100}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,51},{100,100}}</string>
                <key>sourceSize</key>
                <string>{230,210}</string>
            </dict>
            <key>xiaozhuan_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{100,100}}</string>
                <key>offset</key>
                <string>{-9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,51},{100,100}}</string>
                <key>sourceSize</key>
                <string>{230,210}</string>
            </dict>
            <key>xiaozhuan_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,104},{102,100}}</string>
                <key>offset</key>
                <string>{-9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,51},{102,100}}</string>
                <key>sourceSize</key>
                <string>{230,210}</string>
            </dict>
            <key>xiaozhuan_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,104},{102,100}}</string>
                <key>offset</key>
                <string>{-9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,51},{102,100}}</string>
                <key>sourceSize</key>
                <string>{230,210}</string>
            </dict>
            <key>xiaozhuan_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{102,100}}</string>
                <key>offset</key>
                <string>{-9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,51},{102,100}}</string>
                <key>sourceSize</key>
                <string>{230,210}</string>
            </dict>
            <key>xiaozhuan_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,308},{100,100}}</string>
                <key>offset</key>
                <string>{-9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,51},{100,100}}</string>
                <key>sourceSize</key>
                <string>{230,210}</string>
            </dict>
            <key>xiaozhuan_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{102,100}}</string>
                <key>offset</key>
                <string>{-9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,51},{102,100}}</string>
                <key>sourceSize</key>
                <string>{230,210}</string>
            </dict>
            <key>xiaozhuan_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,308},{100,100}}</string>
                <key>offset</key>
                <string>{-9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,51},{100,100}}</string>
                <key>sourceSize</key>
                <string>{230,210}</string>
            </dict>
            <key>xiaozhuan_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,308},{100,100}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,51},{100,100}}</string>
                <key>sourceSize</key>
                <string>{230,210}</string>
            </dict>
            <key>xiaozhuan_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{102,100}}</string>
                <key>offset</key>
                <string>{-9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,51},{102,100}}</string>
                <key>sourceSize</key>
                <string>{230,210}</string>
            </dict>
            <key>xiaozhuan_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,308},{100,100}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,51},{100,100}}</string>
                <key>sourceSize</key>
                <string>{230,210}</string>
            </dict>
            <key>xiaozhuan_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,206},{100,102}}</string>
                <key>offset</key>
                <string>{-9,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,49},{100,102}}</string>
                <key>sourceSize</key>
                <string>{230,210}</string>
            </dict>
            <key>xiaozhuan_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{102,100}}</string>
                <key>offset</key>
                <string>{-9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,51},{102,100}}</string>
                <key>sourceSize</key>
                <string>{230,210}</string>
            </dict>
            <key>xiaozhuan_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{100,100}}</string>
                <key>offset</key>
                <string>{-8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,50},{100,100}}</string>
                <key>sourceSize</key>
                <string>{230,210}</string>
            </dict>
            <key>xiaozhuan_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,206},{100,100}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,51},{100,100}}</string>
                <key>sourceSize</key>
                <string>{230,210}</string>
            </dict>
            <key>xiaozhuan_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,100}}</string>
                <key>offset</key>
                <string>{-9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,51},{102,100}}</string>
                <key>sourceSize</key>
                <string>{230,210}</string>
            </dict>
            <key>xiaozhuan_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,206},{102,100}}</string>
                <key>offset</key>
                <string>{-9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,51},{102,100}}</string>
                <key>sourceSize</key>
                <string>{230,210}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xdjAni.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:77a7267b3b0f2cf2c89bddc16688f1d6:1/1$</string>
            <key>textureFileName</key>
            <string>xdjAni.png</string>
        </dict>
    </dict>
</plist>
