<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>common_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,143},{60,61}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{60,61}}</string>
                <key>sourceSize</key>
                <string>{64,67}</string>
            </dict>
            <key>userinfo_avatar_default.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,335},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{116,116}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>userinfo_best_players.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,453},{252,45}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{252,45}}</string>
                <key>sourceSize</key>
                <string>{254,47}</string>
            </dict>
            <key>userinfo_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{806,547}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{806,547}}</string>
                <key>sourceSize</key>
                <string>{806,547}</string>
            </dict>
            <key>userinfo_change_avatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,96},{208,45}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{208,45}}</string>
                <key>sourceSize</key>
                <string>{210,47}</string>
            </dict>
            <key>userinfo_friends.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,258},{252,45}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{252,45}}</string>
                <key>sourceSize</key>
                <string>{254,47}</string>
            </dict>
            <key>userinfo_invite_friends.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,49},{208,45}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{208,45}}</string>
                <key>sourceSize</key>
                <string>{210,47}</string>
            </dict>
            <key>userinfo_online.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,205},{26,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{26,25}}</string>
                <key>sourceSize</key>
                <string>{30,29}</string>
            </dict>
            <key>userinfo_progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,258},{316,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{316,29}}</string>
                <key>sourceSize</key>
                <string>{318,31}</string>
            </dict>
            <key>userinfo_send_gift.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,2},{208,45}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{208,45}}</string>
                <key>sourceSize</key>
                <string>{210,47}</string>
            </dict>
            <key>userinfo_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,205},{55,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{55,51}}</string>
                <key>sourceSize</key>
                <string>{91,51}</string>
            </dict>
            <key>userinfo_vip_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,239},{126,94}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{126,94}}</string>
                <key>sourceSize</key>
                <string>{132,100}</string>
            </dict>
            <key>userinfo_vip_enable.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,143},{126,94}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{126,94}}</string>
                <key>sourceSize</key>
                <string>{132,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>user_info.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5340402eac79a06bec413ae500479185:1/1$</string>
            <key>textureFileName</key>
            <string>user_info.png</string>
        </dict>
    </dict>
</plist>
