<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>common_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,2},{60,61}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{60,61}}</string>
                <key>sourceSize</key>
                <string>{64,67}</string>
            </dict>
            <key>setting_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{556,527}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{556,527}}</string>
                <key>sourceSize</key>
                <string>{566,545}</string>
            </dict>
            <key>setting_e_mail.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,47},{120,39}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{120,39}}</string>
                <key>sourceSize</key>
                <string>{122,43}</string>
            </dict>
            <key>setting_faq.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,43},{120,39}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{120,39}}</string>
                <key>sourceSize</key>
                <string>{122,43}</string>
            </dict>
            <key>setting_game_center.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{120,39}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{120,39}}</string>
                <key>sourceSize</key>
                <string>{122,43}</string>
            </dict>
            <key>setting_rate_game.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,2},{120,39}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,15},{120,39}}</string>
                <key>sourceSize</key>
                <string>{156,73}</string>
            </dict>
            <key>setting_tollgate_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,2},{120,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,43}}</string>
                <key>sourceSize</key>
                <string>{120,43}</string>
            </dict>
            <key>setting_tollgate_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,43},{119,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,41}}</string>
                <key>sourceSize</key>
                <string>{119,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>setting.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f29f8e7198c5f2380257551570b637b8:1/1$</string>
            <key>textureFileName</key>
            <string>setting.png</string>
        </dict>
    </dict>
</plist>
