<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>common_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,877},{60,61}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{60,61}}</string>
                <key>sourceSize</key>
                <string>{64,67}</string>
            </dict>
            <key>gift_item_avatar_default.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,812},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>gift_item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,2},{532,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{532,76}}</string>
                <key>sourceSize</key>
                <string>{548,76}</string>
            </dict>
            <key>gift_item_collect.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,877},{124,37}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{124,37}}</string>
                <key>sourceSize</key>
                <string>{128,39}</string>
            </dict>
            <key>gift_item_collected.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,2},{122,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,19}}</string>
                <key>sourceSize</key>
                <string>{122,19}</string>
            </dict>
            <key>gift_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,126},{17,17}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,17}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>gift_send_gift.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,536},{274,70}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{274,70}}</string>
                <key>sourceSize</key>
                <string>{276,72}</string>
            </dict>
            <key>rs_gift_collect_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{596,512}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{596,512}}</string>
                <key>sourceSize</key>
                <string>{602,520}</string>
            </dict>
            <key>rs_gift_send_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{596,512}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{596,512}}</string>
                <key>sourceSize</key>
                <string>{602,520}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gift_ui.png</string>
            <key>size</key>
            <string>{701,1030}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3cda8af02f1672840207181f449c5963:1/1$</string>
            <key>textureFileName</key>
            <string>gift_ui.png</string>
        </dict>
    </dict>
</plist>
