<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>common_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,2},{60,61}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{60,61}}</string>
                <key>sourceSize</key>
                <string>{64,67}</string>
            </dict>
            <key>leaderboard_avatar_default.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,2},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>leaderboard_item_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,2},{28,29}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,9},{28,29}}</string>
                <key>sourceSize</key>
                <string>{38,43}</string>
            </dict>
            <key>leaderboard_item_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,64},{28,29}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{28,29}}</string>
                <key>sourceSize</key>
                <string>{38,37}</string>
            </dict>
            <key>leaderboard_item_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,64},{28,29}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{28,29}}</string>
                <key>sourceSize</key>
                <string>{38,37}</string>
            </dict>
            <key>leaderboard_item_avatar_default.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,2},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>leaderboard_item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,2},{682,42}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{682,42}}</string>
                <key>sourceSize</key>
                <string>{690,42}</string>
            </dict>
            <key>rs_leaderboard_best_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,655},{748,651}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,31},{748,651}}</string>
                <key>sourceSize</key>
                <string>{798,701}</string>
            </dict>
            <key>rs_leaderboard_friends_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{748,651}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,31},{748,651}}</string>
                <key>sourceSize</key>
                <string>{798,701}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>leard_board.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5d479066ec771e702e21e4776b9d735c:1/1$</string>
            <key>textureFileName</key>
            <string>leard_board.png</string>
        </dict>
    </dict>
</plist>
